@import '../../styles/app.scss';

.container {
  height: 80vh;
  margin-bottom: 2rem;
  position: relative;
  
  .header {
    position: absolute;
    transform: translate(50%, -50%);
    width: 100%;
    text-align: center;
    right: 50%;
    top: 60px;
    font-size: 2rem;
    // font-family: $title-font;
    line-height: 1.8rem;

    span{
        color: #862718;
    }
  }

  .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    transform: translate(50%, -50%);
    width: 100%;
    text-align: center;
    right: 50%;
    bottom: 100px;
  }
}
