@import "../../styles/app.scss";

.container {
  height: 100vh;
  padding-top: 2rem;
  margin-bottom: 6rem;
  position: relative;

  .scene_wrapper {
    height: 50vh;
    z-index: 1;
    margin-top: 60px;
  }

  // .header_wrapper {
  // position: absolute;
  // transform: translate(50%, -50%);
  // width: 100%;
  // text-align: center;
  // right: 50%;
  // top: 60px;
  // }

  .header {
    font-size: 1.5rem;
    // font-family: $title-font;
    line-height: 1.8rem;

    span {
      color: #862718;
    }
  }

  .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    // position: absolute;
    // transform: translate(50%, -50%);
    // width: 100%;
    text-align: center;
    // right: 50%;
    // top: 100px;
    font-size: 1.5rem;
  }
}
