@import '../../styles/app.scss';

.container{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: $s-black;
    border-bottom: 1px solid $s-white;

    >p{
        font-weight: 600;
        font-size: .9rem;
    }

    .links_wrapper{
        margin-left: auto;
    }
}