// @import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

$title-font: 'Alegreya Sans', sans-serif;;

$m-black: #131313;
$s-black: #0c0c0c;
$m-white: #e7e7e7;
$s-white: #b1b1b1;
$m-red: #ad4a3a;
$s-red: #862718;
